<h2>Explore Our Inventory</h2>

<section class="inventory-list">
  <div class="vehicle-card">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" />
    <h3>DMC Delorean</h3>
    <p>Price: $32,000</p>
  </div>

  <div class="vehicle-card">
    <img src="/images/vehicles/camaro.jpg" alt="Toyota Camry" />
    <h3>2022 Toyota Camry</h3>
    <p>Price: $24,500</p>
  </div>

  <div class="vehicle-card">
    <img src="/images/vehicles/survan.jpg" alt="Tesla Model 3" />
    <h3>2023 Tesla Model 3</h3>
    <p>Price: $39,990</p>
  </div>
</section>