<h2>Sedans</h2>

<section class="inventory-list">
  <div class="vehicle-card">
    <img src="/images/vehicles/crwn-vic.jpg" alt="Crown Victoria" />
    <h3>Ford Crown Victoria</h3>
    <p>Price: $18,000</p>
  </div>

  <div class="vehicle-card">
    <img src="/images/vehicles/model-t.jpg" alt="Model T" />
    <h3>Ford Model T</h3>
    <p>Price: $12,000</p>
  </div>
</section>